.swal2-container.swal2-top-end > .swal2-popup {
  display: flex !important;
  flex-direction: row-reverse !important;
  justify-content: space-between !important;
}
.swal2-popup.swal2-toast .swal2-title {
  font-size: 20px !important;
  color: #000 !important;
  font-weight: bold !important;
}
.swal2-image {
  margin: 0 !important;
}
.swal2-popup.swal2-toast .swal2-title {
  display:flex!important;
  align-items: center!important;
  margin: auto 0 !important;
  width: 250px !important;
  text-align: center !important;
}
.swal2-popup.swal2-toast>*{
  width: 56px !important;
  height: 56px !important;
}